{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="col-sm-6 my-3">
    <form action="" method="POST">
        {% csrf_token %}
        {% for fm in form %}
        <div class="form-group">
            {{fm.label_tag}}{{fm}} <small class="text-warning">{{fm.errors|striptags}}</small>
        </div>
        {% endfor %}
        <input type="submit" value="Log in" class="btn btn-primary my-2">
    </form>
    {% if form.non_field_errors %}
    {% for error in form.non_field_errors %}
    <p class="alert alert-danger my-3">{{error}}</p>
    {% endfor %}
    {% endif %}
</div>
{% endblock content %}